.splash_wrapper {
    height: 81vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}